* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: solid px;
}

body {
    background-color: rgb(218, 246, 255);
}

h1 {
    font-size: 30px;
    font-weight: 800;
    
}

.flexbox {
    padding: 10px;
    display: flex;
    border: solid 1px white;
    background-color: rgb(152, 213, 234);
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    list-style: none;

}

.back {
    flex: 1;
}
